//COMPASS IMPORTS
@import 'compass/css3';
@import 'compass/utilities/sprites';
@import 'compass/typography';
@import "compass/reset";

//SUSY GRID
@import "grid";

//CONFIG FILES
@import "variables";
@import "sprites";
@import "mixings";
@import "fonts";

//COMMONS STYLES
.icono,
.etiqueta {
	float: left;
}
/*html {
	font-size: 62.5%;
}*/
body {
	overflow-x: hidden;
	padding-top: 55px;
	li {
		font-size: 12px;
	}
}
.proplac-red {
	color: $proplac-red;
}
section {
	margin-bottom: 30px;
	.inner {
		border-bottom: 1px dashed #999999;
		padding-bottom: 40px;
	}
}
header .inner,
footer .inner,
section .inner {
	@include container;
	//@include susy-grid-background;
}

li {
	list-style-type: square;
	list-style-position: inside;
}

p {
	margin-bottom: 0.5em;
}

strong {
	font-weight: bold;
}

//HEADER STYLES
header {
	height: 25px;
	padding: 15px 0;
	background: $proplac-black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	//@include clearfix();
	.logo {
		float: left;
		margin: 0 auto;
		margin-bottom: 20px;
		cursor: pointer;
		background: url(../img/proplac-logo-small.png) no-repeat;
		width: 23px;
		height: 25px;
		text-indent: -9999px;
	}
	#navigation {
		position: absolute;
		margin-left: 50px;
	}
	#navigation, menu {
		z-index: 10;
		.menu-item {
			display: none;
		}
		a {
			font-size: 14px;
			padding: 10px 30px;
			background: white;
			color: $proplac-black;
			display: block;
			text-transform: uppercase;
			font-family: 'pf_din_text_cond_probold';
			&:hover {
				background: #e7e6e6;
			}
		}
		&.open {
			.menu-item {
				display: block;
			}
		}
	}
	nav {
		li {
			list-style: none;
		}
	}
	#menu-btn {
		background: url(../img/menu.png) no-repeat;
		width: 25px;
		height: 25px;
		text-indent: -9999px;
		a {
			background: none;
			&:hover {
				background: none;
			}
		}
	}
	.contacto {
		float: right;
		margin-top: 7px;
		.menu-item {
			float: left;
			padding-left: 21px;
			a {
				height: 14px;
				.icono {
					margin-right: 5px;
				}
				.etiqueta {
					display: none;
					color: white;
					height: 20px;
				}
				&:hover {
					.etiqueta {
						color: $proplac-red;
					}
				}
			}

		}
	}
}

//FOOTER
footer {
	padding: 100px 0;
	background: black;
	.logos-supplier {
		ul {
			text-align: center;
			li {
				height: 50px;
				width: 100px;
				list-style: none;
				display: inline-block;
				margin: 0 10px 20px;
			}
		}
	}
}

//SLIDER
section.hero {
	padding-bottom: 20px;
	.slider {
		//overflow: hidden;
		position: relative;
		.slide {
			position: absolute;
			top: -1000px;
			display: none;
			&.active {
				display: block;
				position: static;
			}
			.text-block {
				margin: 0 auto;
				padding: 5px 20px;
				//height: 300px;
				//max-width: 940px;
			}
			.media-block {
				height: 100%;
			}
			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 2000px;
			}
		}
	}

	.control-nav {
		display: none;
		padding-top: 10px;
		margin: 0 auto;
		bottom: -35px;
		margin: 0;
		position: absolute;
		width: 100%;
	}

	/* line 32, ../../sass/core/funcarousel.scss */
	.control-nav .wrapper {
		margin: 0 auto;
	}

	/* line 34, ../../sass/core/funcarousel.scss */
	.control-nav .wrapper .control {
		display: block;
		background: #dddddd;
		width: 11px;
		height: 12px;
		float: left;
		text-indent: -9999px;
		margin: 0 5px;
		cursor: pointer;
		border-radius: 12px;
	}

	/* line 43, ../../sass/core/funcarousel.scss */
	.control-nav .wrapper .control.active {
		background: $proplac-red;
	}

	/* line 50, ../../sass/core/funcarousel.scss */
	.nav-arrow {
		display: block;
		width: 80px;
		height: 80px;
		position: absolute;
		top: 210px;
		text-indent: -9999px;
		cursor: pointer;
		background: #dddddd;
	}

	/* line 59, ../../sass/core/funcarousel.scss */
	.nav-arrow.left {
		left: 0;
	}

	/* line 62, ../../sass/core/funcarousel.scss */
	.nav-arrow.right {
		right: 0;
	}
}

//PROYECTOS
section.servicios {
	h2 {
		margin-bottom: 10px;
	}
	.project {
		@include span-columns(12);
		&.last {
			@include omega();
		}
	}
	.project {
		width: 100%;
		margin-bottom: 20px;
		img {
			margin: 5px 0;
			max-width: 100%;
			display: block;
		}
	}
}

//QUIENES SOMOS
section.quienes-somos {
	.media-block {
		@include span-columns(3);
		@include omega();
		margin-left: 7px;
		float: right;
		img {
			max-width: 100%;
		}
	}
}

//TRABAJOS REALIZADOS
section.trabajos-realizados {
	.media-block {
		float: left;
		height: 200px;
		margin: 0 7px 7px 0;
	}
}

//SOCIAL
section.social {
	.social-box {
		background: #cccccc;
		height: 300px;
		width: 300px;
		float: right;
		margin: 0 0px 15px 15px;
	}
}

/*
*
*	Tablet
*
*/
@include at-breakpoint(500px 10) {
	header .inner,
	footer .inner,
	section .inner {
		@include container;
  		//@include susy-grid-background;
	}
	body {
		font-size: 112.5%;
		li {
			font-size: 12px;
		}
	}
	h2 {
		font-size: 30px;
	}
	header {
		.logo {
			margin-left: 0;
			float: left;
		}

		menu {
			float: left;
		}

		.contacto {
			.etiqueta {
				display: block!important;
				font-size: 12px;
			}
		}
	}
	section.hero {
		.control-nav {
			display: block;
		}
	}
	section.servicios {
		.project {
			@include span-columns(5);
			&#project2,
			&#project4,
			&#project6 {
				@include omega();
			}
		}
	}
	section.trabajos-realizados {
		.media-block {
			float: left;
			height: 400px;
			margin: 0 11px 11px 0;
		}
	}
	section.quienes-somos {
		.media-block {
			@include span-columns(5);
			@include omega();
			margin-left: 11px;
			float: right;
		}
	}
	section.social {
		.social-box {
			//margin: 0 0px 11px 11px;
		}
	}
}

/*
*
*	Desktop
*
*/
@include at-breakpoint(800px 12) {
	header .inner,
	footer .inner,
	section .inner {
		@include container;
  		//@include susy-grid-background;
	}
	header {
		padding-bottom: 15px;
		#navigation {
			clear: none;
		}
		.contacto {
			.etiqueta {
				font-size: 14px;
			}
		}
	}
	body {
		font-size: 125%;
		li {
			font-size: 14px;
		}
	}
	h2 {
		font-size: 66px;
	}
	section.hero h2 {
		font-size: 50px;
		line-height: 52px;
	}
	section.hero .slider .slide {
		.text-block {
			margin: -300px auto 0;
			height: 300px;
			max-width: 940px;
		}
	}
	section.servicios {
		.project {
			@include span-columns(4);
			height: 38em;
			&#project2,
			&#project4 {
				@include span-columns(4);
			}
			&#project3,
			&#project6 {
				@include omega();
			}

		}
	}
	section.quienes-somos {
		.media-block {
			@include span-columns(6);
			@include omega();
			margin-left: 15px;
			float: right;
		}
	}
	section.trabajos-realizados {
		.media-block {
			margin: 0 15px 15px 0;
		}
	}
	section.social {
		.social-box {
			margin: 0 0px 15px 15px;
		}
	}
}

@include at-breakpoint(990px 12) {
	header {
		.logo {
			background: url(../img/proplac-logo.png) no-repeat;
			width: 150px;
		}

		#navigation {
			margin-left: 180px;
			li {
				&.menu-item {
					float: left;
					display: block;
				}
				&#menu-btn {
					display: none;
				}
				a {
					background: none;

					color: white;
					padding-left: 0;
					&:hover {
						background: none;
						color: $proplac-red;

					}
				}
			}
		}

	}

}






