%footer
	.inner
		.logos-supplier
			%ul
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/hilti.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/knauf.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/heraklith.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/promat.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/armstrong_logo.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/rockwool_tecnical_insulation.jpg"}