%footer
	.inner
		%h4 Proplac utiliza:
		.logos-supplier
			%ul
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/hilti.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/knauf.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/heraklith.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/promat.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/armstrong_logo.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/rockwool_tecnical_insulation.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/senor.jpg"}
				%li
					%img{:alt => "", :src => "assets/img/logos-suppliers/adiform.jpg"}
		%p.copyright
			Copyright © 2014 Proplac BCN
