%header
	.inner
		%h1.logo
			%a(href="proplac-barcelona.com")
				%img(src="assets/img/proplac-logo.png" alt="Logo")
		%nav#navigation.menu
			%ul
				%li#menu-btn
					%a(href="#servicios" ) Menu
				%li.menu-item
					%a(href="#servicios" ) Servicios
				%li.menu-item
					%a(href="#quienes-somos" ) Quienes somos
				%li.menu-item
					%a(href="#trabajos-realizados" ) Trabajos realizados

				/%li.menu-item
				/	%a(href="#contacto" ) Social
		.contacto
			.telefono.menu-item
				%a(href="tel:679 543 914" )
					%span.icono.icons-phone
					%span.etiqueta 679 543 914
			.mail.menu-item
				%a(href="mailto:proplac-bcn@proplac.com" )
					%span.icono.icons-email
					%span.etiqueta proplac-bcn@proplac.com

