%header
	.inner
		%h1.logo
			%a(href="proplac-barcelona.com")
				%img(src="assets/img/logo.png" alt="Proplac barcelona")
		%nav.navegacion
			%ul
				%li
					%a(href="#servicios" ) Servicios
				%li
					%a(href="#quienes-somos" ) Quiénes somos
				%li
					%a(href="#referencias" ) Referencias
				%li
					%a(href="#contacto" ) Contacto
				%li
					%a(href="#siguenos" ) Síguenos!
		%menu.contacto
			%ul
				%li.telefono
					%span.icono.home-telefono
					%span.etiqueta 670 986 876
				%li.mail
					%a(href="mailto:hola@proplac-barcelona.com" )
						%span.icono.home-mail
						%span.etiqueta hola@proplac-barcelona.com
				%li.twitter
					%a(href="http://twitter.com/proplac-barcelona" target="_blank" )
						%span.icono.home-twitter
				%li.facebook
					%a(href="http://facebook.com/proplac-barcelona" target="_blank" )
						%span.icono.home-facebook

