%header
	.inner
		%h1.logo
			%a(href="#")
				Proplac
		%nav#navigation.menu
			%ul
				%li#menu-btn
					%a(href="#" ) Menu
				%li.menu-item
					%a(href="#servicios" ) Servicios
				%li.menu-item
					%a(href="#quienes-somos" ) Quienes somos
				%li.menu-item
					%a(href="#trabajos-realizados" ) Trabajos realizados

				/%li.menu-item
				/	%a(href="#contacto" ) Social
		.contacto
			.telefono.menu-item
				%a(href="tel:+34679543914" )
					%span.icono.icons-phone
					%span.etiqueta +34 679 543 914
			.mail.menu-item
				%a(href="mailto:contacto@proplac-bcn.com" )
					%span.icono.icons-email
					%span.etiqueta contacto@proplac-bcn.com

