%section.hero
	#slider1.slider
		.slides-wrapper
			.slides
				.slide
					.text-block
						%h2 First Slide
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, rutrum vel consequat a, tempor eget diam. Fusce vulputate scelerisque arcu, ac egestas lorem faucibus eget. Fusce egestas dictum iaculis. Donec vel bibendum leo. Nulla lobortis ultricies varius.
					.media-block
						%img{:alt => "", :src => "img/slide1.jpg", :width => "480"}
				.slide
					.text-block
						%h2 Second Slide
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, rutrum vel consequat a, tempor eget diam. Fusce vulputate scelerisque arcu, ac egestas lorem faucibus eget. Fusce egestas dictum iaculis. Donec vel bibendum leo. Nulla lobortis ultricies varius.
					.media-block
						%img{:alt => "", :src => "img/slide2.jpg", :width => "480"}
				.slide
					.text-block
						%h2 Third Slide
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat dolor, rutrum vel consequat a, tempor eget diam. Fusce vulputate scelerisque arcu, ac egestas lorem faucibus eget. Fusce egestas dictum iaculis. Donec vel bibendum leo. Nulla lobortis ultricies varius.
					.media-block
						%img{:alt => "", :src => "img/slide3.jpg", :width => "480"}
%section.servicios
	.inner
		.col
			.project
		.col
			.project
		.col.last
			.project
